* {
  margin: 0px;
  padding: 0px;
}

ul {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

li {
  list-style: none;
  margin: 12px;
}

button {
  width: 102px;
  height: 32px;
  border-radius: 6px;
  color: white;
}

button:hover {
  cursor: pointer;
}

#blue {
  background-color: blue;
}

#green {
  background-color: green;
}

#red {
  background-color: red;
}

#yellow {
  background-color: yellow;
}

#orange {
  background-color: orange;
}

#purple {
  background-color: purple;
}
